<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ntuoc2014-ntuoc2014v2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ntuoc2014-ntuoc2014v2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ntuoc2014__ntuoc2014v2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ntuoc2014__ntuoc2014v2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:qs4jbsef5n.database.windows.net,1433;Initial Catalog=ntuoc2014_db;User ID=tom5707@qs4jbsef5n;Password=Sssh275216" Name="Data Source=tcp:qs4jbsef5n.database.windows.net,1433;Initial Catalog=ntuoc2014_db;User Id=tom5707@qs4jbsef5n;Password=Sssh275216" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NTUOC7registration.Models.ApplicationDbContext, NTUOC7registration" MigrationConfiguration="NTUOC7registration.Migrations.Configuration, NTUOC7registration" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qs4jbsef5n.database.windows.net,1433;Initial Catalog=ntuoc2014_db;User Id=tom5707@qs4jbsef5n;Password=Sssh275216</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>